* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    text-decoration: none;
    text-transform: none;
    list-style: none;
    & li {
        cursor: pointer;
    }
}

button,
input {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: unset;
    font-family: 'Poppins', sans-serif;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: none;
    }
}

input {
    cursor: text;
}

a {
    text-decoration: none;
    color: $black;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: none;
    }
}

body {
    overflow: hidden;
    background-color: $white_light;
    &.body__overflow--hidden:before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(1px);
        background-color: #d4cff40f;
        z-index: 1;
        transition: .2s;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-track {
    background: $white_light;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: $hover_purple;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: $hover_purple;
}

::selection {
    background-color: #d4cff447;
    color: $black_light;
}

.container {
    height: 100vh;
}

.body__overflow--hidden {
    overflow: hidden;
}