* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    text-decoration: none;
    text-transform: none;
    list-style: none;
    & li {
        cursor: pointer;
    }
}

button,
input {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: unset;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: none;
    }
}

input {
    cursor: text;
}

a {
    text-decoration: none;
    color: $black;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: none;
    }
}

.container {
    height: 100vh;
    background-color: rgb(251, 230, 190);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}