.container {
    display: flex;
    position: relative;
    & .sidebar {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 18%;
        min-width: 276px;
        padding: 35px 28px 76px 28px;
        background-color: $white;
        box-shadow: 0 10px 60px 0 $box_shadow;
        transform: translateX(-100vw);
        &.active {
            transform: translate(0);
            transition: ease-out .5s;
        }
        &.fast-transition {
            transition: linear .1s;
        }
        &.show {
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            visibility: visible;
            transform: translateX(0);
            transition: .2s;
        }
        & .sidebar__logo-row {
            position: relative;
            max-width: 195px;
            & .sidebar__logo {
                & img {
                    width: 195px;
                    max-height: 50px;
                    object-fit: cover;
                }
            }
            & .sidebar__update-version {
                position: absolute;
                content: '';
                bottom: 0px;
                right: -24px;
                height: 20px;
                width: 20px;
                font-weight: 500;
                font-size: 1rem;
                color: $update_color;
            }
        }
        & .sidebar__nav {
            & .sidebar__nav-list {
                & li {
                    width: 100%;
                    background-color: transparent;
                    margin-bottom: 18px;
                    padding: 11px 25px 11px 11px;
                    border-radius: 8px;
                    font-weight: 500;
                    color: $grey;
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    position: relative;
                    overflow: hidden;
                    transform: translateX(-100vw);
                    &.active {
                        transform: translate(0);
                        transition: ease-out .5s;
                        
                    }
                    &.fast-transition {
                        transition: none;
                    }
                    &.sidebar__list-item--selected {
                        background-color: $hover_purple;
                        color: $white;
                        transition:.2s;
                        & img {
                            transition:.1s;
                            filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(32deg) brightness(104%) contrast(103%);  
                        }
                        &:after {
                            background: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%239197B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") no-repeat;
                            width: 8px;
                            height: 12px;
                            filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(32deg) brightness(104%) contrast(103%);  
                        }
                        &:hover {
                            box-shadow: none;
                        }
                    }
                    &:hover {
                        box-shadow: 0px 0px 9px 4px $box_shadow;
                        &::after {
                            background: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%239197B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") no-repeat;
                            width: 8px;
                            height: 12px;
                        }
                    }
                    & img {
                        max-width: 24px;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%239197B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") no-repeat;
                        width: 6px;
                        height: 10px;
                        right: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        margin-right: 10px;
                    }
                }
                & li:last-of-type {
                    margin-bottom: 0px;
                }
                & li:first-of-type {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        & .sidebar__user-row {
            display: flex;
            margin-top: auto;
            align-items: center;
            gap: 12px;
            & .sidebar__user-photo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                overflow: hidden;
                border-radius: 50px;
                & img {
                    object-fit: cover;
                    width: 42px;
                    height: 42px;
                }
            }
            & .sidebar__user-info {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & .sidebar__user-name {
                    font-weight: 500;
                    color: $black;
                    font-size: 1.4rem;
                }
                & .sidebar__user-position {
                    font-size: 1.2rem;
                    color: $user_color;
                }
            }
        }
    }
    & .content {
        width: 82%;
        padding: 41px 71px;
        background-color: $white_light;
        display: flex;
        flex-direction: column;
        & .content__header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 41px;
            & .content__title {
                font-weight: 500;
                font-size: 2.4rem;
                color: $black;
                text-transform: capitalize;
                transform: translateX(100vw);
                &.active {
                    transform: translate(0);
                    transition: ease-out .5s;
                }
                &.fast-transition {
                    transition: .1s;
                }
            }
            & .content__burger-container {
                padding: 8px 0px;
                cursor: pointer;
                z-index: 1;
                &:hover {
                    transform: scale(1.02);
                }
                &.active {
                    & div {
                        background-color: transparent;
                        &:before {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                        &:after {
                            transform: rotate(45deg);
                            bottom: 0;
                        }
                    }
                }
                & .content__button-burger {
                    width: 23px;
                    height: 2px;
                    background-color: $white;
                    background-color: $black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: .2s;
                    &:before,
                    &:after {
                        position: absolute;
                        content: '';
                        width: 23px;
                        height: 2px;
                        background-color: $black;
                        left: 0;
                        transition: .2s;
                    }
                    &::before {
                        top: -6px;
                    }
                    &::after {
                        bottom: -6px;
                    }
                }
            }
        }
        & .content__container {
            background-color: $white;
            box-shadow: 0 10px 60px 0 $box_shadow;
            border-radius: 30px;
            padding: 30px 40px 40px 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            transform: translateX(100vw);
            &.active {
                transform: translate(0);
                transition: ease-out .5s;
            }
            &.fast-transition {
                transition: .1s;
            }
            & .content__info-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                & .content__info-column {
                    & .content__subtitle {
                        font-weight: 600;
                        font-size: 2.2rem;
                        color: $black;
                        margin-bottom: 7px;
                    }
                    & .content__active-customers {
                        font-size: 1.4rem;
                        color: $active_btn;
                        &:hover {
                            transform: scale(1.02);
                            transition: .2s;
                        }
                    }
                }
                & .content__info-search {
                    & label {
                        position: relative;
                        cursor: text;
                        &::before {
                            position: absolute;
                            content: '';
                            background: url('assets/img/search_icon.svg') no-repeat;
                            height: 24px;
                            width: 24px;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                            margin-left: 8px;
                        }
                    }
                    & input {
                        width: 216px;
                        padding: 10px 10px 10px 40px;
                        background: $white_light;
                        border: none;
                        border-radius: 10px;
                        font-size: 1.2rem;
                        color: $grey_light;
                        &::placeholder {
                            color: $grey_light;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            transition: .2s;
                            box-shadow: 0px 0px 9px 4px $box_shadow;
                        }
                    }
                }
            }
            & .content__table-wrapper {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                table-layout: fixed;
                margin-bottom: 32px;
                flex-grow: 1;
                & .content__table {
                    width: 100%;
                    height: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                    & th, td {
                        text-align: left;
                        overflow: hidden;
                        padding-right: 15px;
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                        font-size: 1.4rem;
                    }
                    & th:nth-child(1) {
                        width: 21%;
                    }
                    & th:nth-child(2) {
                        width: 17%;
                    }
                    & th:nth-child(3) {
                        width: 19%;
                    }
                    & th:nth-child(4) {
                        width: 25%;
                    }
                    & th:nth-child(5) {
                        width: 18%;
                    }
                    & th:nth-child(6) {
                        width: 82px;
                    }
                    & td:nth-child(6) {
                        padding-right: 0;
                    }
                    & .content__table-head {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            width: calc(100% + 80px);
                            height: 1px;
                            background-color:$border_color;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                        & th {
                            height: 60px;
                            font-weight: 500;
                            color: $grey_light;
                        }
                    }
                    & .content__table-body {
                        font-weight: 500;
                        color: $black_light;
                        border-bottom: 1px solid $border_color;
                        height: 40px;
                        border-collapse: collapse;
                        border-spacing: 0;
                        & .content__table-status {
                            font-weight: 500;
                            font-size: 1.4rem;
                            text-align: center;
                            border-radius: 4px;
                            width: 80px;
                            height: 25px;
                            display: inline-block;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.content__table-status--active {
                                color: $active_color;
                                background-color: $active_bg;
                                border: 1px solid $active_border;
                            }
                            &.content__table-status--inactive {
                                color: $inactive_color;
                                border: 1px solid $inactive_color;
                                background-color: $inactive_bg;
                            }
                        }
                    }
                }
            }
            & .content__footer {
                flex-shrink: 0;
                & .content__footer-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .content__footer-info {
                        font-weight: 500;
                        color: $grey_light;
                        font-size: 1.4rem;
                        padding-right: 20px;
                    }
                    & .content__footer-pagination {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;
                        & .content__footer-prev,
                        & .content__footer-next,
                        & .content__footer-item {
                            border: 1px solid $border_color;
                            border-radius: 4px;
                            width: 26px;
                            height: 24px;
                            background-color: $pagination_bg_color;
                            &:hover {
                                transform: scale(1.03);
                                transition: .2s;
                            }
                        }
                        & .content__footer-arrow {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                background: url('assets/img/arrow_icon.svg') no-repeat;
                                height: 8px;
                                width: 4px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            &:hover {
                                background: $hover_purple;
                                &::after {
                                    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(32deg) brightness(104%) contrast(103%);  
  
                                }
                            }
                        }
                        & .content__footer-next {
                            &::after {
                                transform: translate(-50%, -50%) rotate(180deg);
                            }
                        }
                        & .content__footer-list {
                            display: flex;
                            gap: 12px;
                            & .content__footer-item {
                                font-weight: 500;
                                font-size: 1.2rem;
                                color: $pagination_color;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &.content__footer-item--active {
                                    background: $hover_purple;
                                    & a {
                                        color: $white;
                                    }
                                }
                            }
                            & .content__footer-item--drops {
                                cursor: default;
                                background-color: transparent;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}