<div class="container">
    <div class="sidebar">
        <div class="sidebar__logo-row">
            <a class="sidebar__logo" href="index.html">
                <img src="assets/img/dashboard_logo.svg" alt="logo">
            </a>
            <span class="sidebar__update-version">v.01</span>
        </div>
        <nav class="sidebar__nav">
            <ul class="sidebar__nav-list">
                <li><img src="assets/img/dashboard_icon.svg" alt="icon">Dashboard</li>
                <li><img src="assets/img/product_icon.svg" alt="icon">Product</li>
                <li><img src="assets/img/customers_icon.svg" alt="icon">Customers</li>
                <li><img src="assets/img/income_icon.svg" alt="icon">Income</li>
                <li><img src="assets/img/promote_icon.svg" alt="icon">Promote</li>
                <li><img src="assets/img/help_icon.svg" alt="icon">Help</li>
            </ul>
        </nav>
        <div class="sidebar__user-row">
            <div class="sidebar__user-photo">
                <img src="assets/img/user_photo.png" alt="user">
            </div>
            <div class="sidebar__user-info">
                <span class="sidebar__user-name">Evano</span>
                <span class="sidebar__user-position">Project Manager</span>
            </div>
        </div>
    </div>
    <div class="content">
        <h1 class="content__title">Hello Evano 👋🏼,</h1>
        <div class="content__container">
            <div class="content__info-row">
                <div class="content__info-column">
                    <h2 class="content__subtitle">All Customers</h2>
                    <span class="content__active-customers">Active Members</span>
                </div>
                <div class="content__info-search">
                    <label for="search"></label>
                    <input type="search" placeholder="Search" id="search">
                </div>
            </div>

            <table class="content__table">
                <thead>
                    <tr class="content__table-head">
                        <th>Customer Name</th>
                        <th>Company</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="content__table-body">
                        <td>Jane Cooper</td>
                        <td>Microsoft</td>
                        <td>(225) 555-0118</td>
                        <td>jane@microsoft.com</td>
                        <td>United States</td>
                        <td><span class="content__table-status content__table-status--inactive">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Floyd Miles</td>
                        <td>Yahoo</td>
                        <td>(205) 555-0100</td>
                        <td>floyd@yahoo.com</td>
                        <td>Kiribati</td>
                        <td><span class="content__table-status content__table-status--inactive">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Ronald Richards</td>
                        <td>Adobe</td>
                        <td>(302) 555-0107</td>
                        <td>ronald@adobe.com</td>
                        <td>Israel</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Jane Cooper</td>
                        <td>Microsoft</td>
                        <td>(225) 555-0118</td>
                        <td>jane@microsoft.com</td>
                        <td>United States</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Floyd Miles</td>
                        <td>Yahoo</td>
                        <td>(205) 555-0100</td>
                        <td>floyd@yahoo.com</td>
                        <td>Kiribati</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Ronald Richards</td>
                        <td>Adobe</td>
                        <td>(302) 555-0107</td>
                        <td>ronald@adobe.com</td>
                        <td>Israel</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Jane Cooper</td>
                        <td>Microsoft</td>
                        <td>(225) 555-0118</td>
                        <td>jane@microsoft.com</td>
                        <td>United States</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                    <tr class="content__table-body">
                        <td>Floyd Miles</td>
                        <td>Yahoo</td>
                        <td>(205) 555-0100</td>
                        <td>floyd@yahoo.com</td>
                        <td>Kiribati</td>
                        <td><span class="content__table-status content__table-status--active">Active</span></td>
                    </tr>
                </tbody>
            </table>

            <div class="content__footer">
                <div class="content__footer-row">
                    <p class="content__footer-info">Showing data 1 to 8 of  256K entries</p>
                    <div class="content__footer-pagination">
                        <button class="content__footer-prev content__footer-arrow"></button>
                        <ul class="content__footer-list">
                            <li class="content__footer-item"><a href="#">1</a></li>
                            <li class="content__footer-item"><a href="#">2</a></li>
                            <li class="content__footer-item"><a href="#">3</a></li>
                            <li class="content__footer-item"><a href="#">4</a></li>
                            <li class="content__footer-item content__footer-item--drops">...</li>
                            <li class="content__footer-item"><a href="#">40</a></li>
                        </ul>
                        <button class="content__footer-next content__footer-arrow"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>